# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.python_packages/
db.sqlite3
*.log

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
